

<p><strong>Influencers</strong></p>

<ul>
  <% @user.influencers.each do |influencer| %>
    <li><%= influencer.first_name %></li>
    <li><%= influencer.last_name %></li>
    <li><%= influencer.address %></li>
    <li><%= influencer.contact %></li>
    <li><%= influencer.websites %></li>
    <li><%= influencer.social_links %></li>
    <li><%= influencer.availability %></li>
    <li><%= influencer.about %></li>
  <% end %>
</ul>
