<%# This is the show file for ALL users, brand or influencer alike %>
<div class="mt-4">
  <% if user_signed_in? %>
    <div class="container">
      <div class="col-md-5">
        <div class="influencer-profile-container bg-white">
          <div class="row d-flex justify-content-center">
            <%= image_tag(@user.avatar.present? ? @user.avatar : 'user-photo.png', class: "profile-photo") %>
            <h4 class="text-center mt-4"><strong><%= @user.first_name.capitalize %> <%= @user.last_name&.capitalize %><strong></h4>
                <div class="d-flex justify-content-center">
                  <span class="tag">Tag here</span>
                </div>
                <div class="bg-gray my-4">
                  <p><strong>About Me:</strong></p>
                  <p><%= @user.about %></p>
                </div>
                <div class="bg-gray my-4">
                  <p><strong>I'm available on:</strong></p>
                  <p><%= @user.availability %></p>
                </div>
                <div class="bg-gray my-4">
                  <p><strong>Contact:</strong></p>
                  <p><i class="fa-solid fa-envelope"></i> <%= @user.email %></p>
                  <p><i class="fa-solid fa-globe"></i> <%= @user.website   %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p>No collaborations found.</p>
      <% end %>
    </div>
