<div class="banner-card" style="background-image: url('<%= asset_path('influencer_2.png') %>');">
  <div class="top-h1">
    <h1 class="mb-4">Welcome to <br>
      <span>InfluIntelligent</span></h1>
    <% if local_assigns[:logged_in] %>
      <div class="d-flex mt-4 pt-4">
        <%= link_to 'Go to your profile', user_path(current_user), class: "btn-gradient me-2" %>
        <%= link_to 'Collaborations', collaborations_path, class: "btn-gradient-border" %>
      <% end %>
      <% unless local_assigns[:logged_in] %>
        <%= link_to 'Create new account', new_user_registration_path, class: "btn-gradient me-2" %>
        <%= link_to 'Login', new_user_session_path, class: "btn-gradient-border" %>
      </div>
      <div class="container mt-4 pt-4">
        <p>* You need to login or create an account</p>
      </div>
    <% end %>
  </div>
</div>
