<div class="col-md-4 mb-4">
  <div class="collaboration-card">
    <div class="d-flex flex-column">
      <h4 class="col-md-9 no-min-height"><%= influencer.first_name.capitalize %> <%= influencer.last_name.capitalize %></h4>
      <div class=" m-0 pb-4 d-flex">
        <small class="col-md m-0 pb-2 text-md-left">
          <%= influencer.email %></small>
      </div>

    <div class="price d-flex align-items-center py-2">
          <% if influencer.avatar.present? %>
            <%= image_tag(influencer.avatar, size: '80x80', class: "me-2") %>
          <% else %>
            <%= image_tag('user-photo.png', size: '80x80', class: "me-2") %>
          <% end %>
    </div>
    </div>

    <div class="description mt-5 d-flex pe-2">
      <i class="fa-solid fa-quote-left me-2"></i>
      <div class="text-truncate">
        <%= influencer.about %>
      </div>
      <div class="fade-overlay"></div>
    </div>
    <div class="tags mt-2">
    </div>
    <div class="mt-4 created_by">
      <p>Visit their profile:</p>
    </div>
    <div class="see-more-link mt-2 d-flex justify-content-begin card-button">
      <%= link_to 'See More', user_path(influencer) %>
    </div>
  </div>
</div>
