<div class="container my-4">
  <h1>Edit Profile</h1>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <% if @user.brand? %>
      <%= f.input :brand_name %>
    <% end %>
    <%= f.input :contact, label: "Contact Email" %>
    <%= f.input :about, label: "About You" %>
    <%= f.input :website, label: "Your Website", input_html: {value: @user.website }%>
    <%= simple_fields_for :social_links do |social_site| %>
      <%= social_site.input :twitter, label: "Twitter Username", input_html: {value: @socials&.dig("twitter")} %>
      <%= social_site.input :facebook, label: "Facebook Username", input_html: {value: @socials&.dig("facebook")} %>
      <%= social_site.input :instagram, label: "Instagram Username", input_html: {value: @socials&.dig("instagram")} %>
      <%= social_site.input :youtube, label: "YouTube Username", input_html: {value: @socials&.dig("youtube")} %>
      <%= social_site.input :tiktok, label: "TikTok Username", input_html: {value: @socials&.dig("tiktok")} %>
    <% end %>
    <%= f.label :tags%>
        <br>
      <% @categories.each do |category| %>
        <div class="form-check form-check-inline mt-4 mb-4">
          <%= f.check_box :tags, { multiple: true, class: 'form-check-input' }, category, nil %>
          <%= f.label :tags, category, class: 'form-check-label' %>
        </div>
      <% end %>
    <% if @user.brand ==false %>
      <%= f.input :availability %>
    <% end %>
    <%= f.input :avatar %>
    <div class="submit-form my-4 pt-4 text-center">
      <%= f.submit %>
    </div>
  <% end %>
  <div class="d-flex justify-content-start mt-4 pt-4">
    <%= link_to 'Back', (request.referrer || collaborations_path), class: "btn-secondary-sm ms-2" %>
  </div>
</div>
