<h2>Add more details to your profile</h2>

<%= simple_form_for(@influencer) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address %>
  <%= f.input :contact %>
  <%= f.input :websites %>
  <%= f.input :social_links %>
  <%= f.input :availability %>
  <%= f.input :about %>
  <%= f.submit 'Update profile' %>
<% end %>
