<h1>Edit Profile</h1>

<%= simple_form_for(@user) do |f| %>
  <% if @user.brand == true %>
    <%= f.input :first_name, label: "Name" %>
  <% else %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
  <% end %>
  <%= f.input :contact, label: "Contact Email" %>
  <%= f.input :about, label: "About You" %>
  <%= f.input :websites, label: "Your Website" %>
  <%= simple_fields_for :social_links do |social_site| %>
    <%= social_site.input :twitter, label: "Twitter", input_html: {value: @socials["twitter"]} %>
    <%= social_site.input :facebook, label: "Facebook", input_html: {value: @socials["facebook"]} %>
  <% end %>
  <%= f.input :tags, collection: Collaboration::CATEGORIES %>
  <%= f.input :availability %>
  <%= f.submit %>
<% end %>
