<div class="mx-4">
  <div class="my-4">
    <div class="row">
      <div class="col-md-12 col-lg-3 order-lg-2 order-md-2 mt-4">
        <div class="search">
          <h3>Search by:</h3>
          <div class="my-4">
            <%= render 'components/search_bar' %>
          </div>
          <div class="tags d-flex flex-wrap">
            <% @categories.each do |category| %>
              <%= link_to users_path(query: { category: category }) do %>
                <div class="tag m-2"><%= category %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg order-lg-1 order-md-1 mt-4">
        <h1>All Influencers</h1>
        <div class="row mt-4"  style="width:100%;">
          <% @influencers.each do |influencer| %>
            <%= render 'components/influencers_card', influencer: influencer %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start mt-4 pt-4">
      <%= link_to 'Back', (request.referrer || collaborations_path), class: "btn-secondary-sm ms-2" %>
    </div>
  </div>
</div>
