<div class="sidebar-wrapper">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <%= image_tag 'logo-nav.svg', class: 'bi me-2', width: 40, height: 32 %>
      <span class="fs-4 d-none d-md-inline text-center">Influintelligent</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link #{'active' if current_page?(root_path)}" do %>
          <i class="fa-solid fa-house"></i>
          <span class="d-none d-md-inline">Home</span>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user))}" do %>
            <i class="fa-solid fa-user"></i>
            <span class="d-none d-md-inline">Profile</span>
          <% end %>
        </li>
        <% if current_user.brand? %>
          <li class="nav-item">
            <%= link_to new_collaboration_path, class: "nav-link #{'active' if current_page?(new_collaboration_path)}" do %>
              <i class="fa-solid fa-plus"></i>
              <span class="d-none d-md-inline">New Collaboration</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to collaborations_path(user_id: current_user.id), class: "nav-link #{'active' if current_page?(collaborations_path(user_id: current_user.id))}" do %>
              <i class="fa-solid fa-handshake"></i>
              <span class="d-none d-md-inline">My Collaborations</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to collaborations_path, class: "nav-link #{'active' if current_page?(collaborations_path)}" do %>
              <i class="fa-solid fa-handshake"></i>
              <span class="d-none d-md-inline">Collaborations</span>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item">
          <% if current_user.brand? %>
            <%= link_to brand_submissions_path(user_id: current_user.id), class: "nav-link #{'active' if current_page?(brand_submissions_path(user_id: current_user.id))}" do %>
              <i class="fa-solid fa-file"></i>
              <span class="d-none d-md-inline">Submissions</span>
            <% end %>
          <% else %>
            <%= link_to submissions_path(user_id: current_user.id), class: "nav-link #{'active' if current_page?(submissions_path(user_id: current_user.id))}" do %>
              <i class="fa-solid fa-file"></i>
              <span class="d-none d-md-inline">Submissions</span>
            <% end %>
          <% end %>
        </li>
        <% if current_user.brand? %>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link #{'active' if current_page?(users_path)}" do %>
              <i class="fa-solid fa-search"></i>
              <span class="d-none d-md-inline">Search for Influencers</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <hr>
    <div class="dropdown">
      <% if user_signed_in? %>
        <a href="#" class="d-flex align-items-center link-white text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "me-2 avatar" %>
          <% else %>
            <% avatar_url = AvatarScraper.get_avatar_url("https://www.instagram.com/#{current_user.instagram_handle}") %>
            <%= image_tag avatar_url, class: "me-2 avatar" %>
          <% end %>
          <strong class="d-none d-md-inline"><%= current_user.first_name %></strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><%= link_to 'Edit Profile', edit_user_path(current_user), class: "dropdown-item" %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        </ul>
      <% else %>
        <a href="#" class="d-flex align-items-center link-white text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag 'user-photo.png', class: "me-2 avatar" %>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><%= link_to 'Login', new_user_session_path, class: "dropdown-item" %></li>
          <li><%= link_to 'Register', new_user_registration_path, class: "dropdown-item" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
