<div class="container">
  <h4 class="text-center">You're creating a sumission for collaboration: <strong><%= @collaboration.title %></strong></h4>
  <p class="text-center mt-4">Click here for create a submission:</p>
  <%= simple_form_for [@collaboration, @submission] do |f| %>
   <div class="form-group">
      <%= f.label :message, "Message" %>
      <%= f.text_area :message, class: "form-control mt-1", rows: 5 %>
    </div>
    <div class="text-center submit-form mt-3"><%= f.button :submit %></div>
  <% end %>
</div>
