<div class="container w-100">
  <div class="col-md-10 d-flex justify-content-center align-items-center mt-4">
    <div class="card">
      <div class="card-header">
        <%= image_tag ("logo-example.png")%>
      </div>
      <div class="card-body">
        <div class="form-login">
          <h3 class="text-center">Login</h3>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, label: "E-mail",
                        required: true,
                        autofocus: true,
                        input_html: { class: "input label "} %>
              <%= f.input :password, label: "Password",
                        required: true,
                        autofocus: true,
                        input_html: { class: "input label "} %>
              <%= f.input :remember_me, label: "Remember Password", as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions form-entrar d-flex align-items-center justify-content-center">
              <%= f.button :submit, "Sign In", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div>
          <p>Dont have an account?</p>
          <%= link_to 'Register now', new_user_registration_path, class:""%>
        </div>
      </div>
    </div>