<% if user_signed_in? %>
  <div class="m-4">
    <% if current_user.brand? %>
      <div class="container">
        <h1><strong><%= current_user.first_name %></strong>'s Collaborations</h1>
        <h3 class="mb-4">See all your Collaborations...</h3>
        <div class="row">
          <% @my_collaborations.each do |collaboration| %>
            <%= render 'components/collaboration_card', collaboration: collaboration %>
          <% end %>
        </div>
        <div class="d-flex justify-content-start mt-4 pt-4">
          <%= link_to 'Back', (request.referrer || collaborations_path), class: "btn-secondary-sm ms-2" %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12 col-lg-3 order-lg-2 order-md-2 mt-4">
          <div class="search">
            <h3>Search by:</h3>
            <div class="my-4">
              <%= render 'components/search_bar' %>
            </div>
            <div class="tags d-flex flex-wrap">
              <% @categories.each do |category| %>
                <%= link_to category_collaborations_path(category) do %>
                  <div class="tag m-2"><%= category %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg order-lg-1 order-md-1 mt-4">
          <h1>All Collaborations</h1>
          <div class="row mt-4">
            <% @collaborations.each do |collaboration| %>
              <%= render 'components/collaboration_card', collaboration: collaboration %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start mt-4 pt-4">
        <%= link_to 'Back', (request.referrer || collaborations_path), class: "btn-secondary-sm ms-2" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container mt-4">
    <div class="p-2 card-body">
      <h3>Register for See All Collaborations</h3>
      <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary mb-2 mt-4" %>
      <hr class="border-t mt-2">
      <p>Already a member?</p>
      <%= link_to 'Log in here', new_user_session_path, class: "btn btn-primary mb-2" %>
    </div>
  </div>
<% end %>
