<div class="container">
  <h1>Brand Page</h1>
  <h1><%= @brand.brand_name %></h1>
  <p>Email: <%= @brand.email %></p>
  <p>Contact: <%= @brand.contact %></p>
  <p>Address: <%= @brand.address %></p>
  <p>About: <%= @brand.about %></p>
  <p>Social Links: <%= @brand.social_links %></p>
</div>