<%# This is the show file for ALL users, brand or influencer alike %>
<div class="m-4">
  <% if user_signed_in? %>
    <h1>Hello <strong><%= @user.first_name.capitalize %></strong></h1>
    <p>Here is your information...</p>
    <div class="row d-flex align-items-stretch">
      <div class="col-md-9 d-flex">
        <div class="profile-container-brand w-100 bg-white">
          <div class="d-flex">
            <div class="col-md-3 d-flex align-items-center justify-content-center">

            <% if @brand.avatar.present? %>
              <%= image_tag(@brand.avatar, class: "profile-photo") %>
            <% else %>
              <%= image_tag('user-photo.png', class: "profile-photo") %>
            <% end %>

            </div>
            <div class="col-md">
              <div>
                <div class="d-flex justify-content-between">
                  <h4 class="border-b profile-name">Profile<br>
                    <strong>
                      <% if @user.brand_name.present? %>
                        <%= @user.brand_name.capitalize %>
                      <% else %>
                        <%= @user.first_name.capitalize %> <%= @user.last_name&.capitalize %>
                      <% end %>
                    </strong>
                  </h4>
                  <% if policy(@user).edit? %>
                    <%= link_to edit_user_path(@user) do %>
                      <i class="fa-regular fa-pen-to-square" id="edit-icon"></i>
                    <% end %>
                  <% else %>
                    <span>You are not authorized to edit this user.</span>
                  <% end %>
                </div>
                <p><strong>About You:<br>
                  </strong> <%= @user.about %></p>
                <p><strong>Email:</strong> <%= @user.email %></p>
                <p><strong>Social Links:</strong></p>
                <% social_icons = {
                  'facebook' => 'fa-facebook-f',
                  'twitter' => 'fa-x-twitter',
                  'linkedin' => 'fa-linkedin-in',
                  'tik_tok' => 'fa-tiktok',
                  'instagram' => 'fa-instagram',
                  'youtube' => 'fa-youtube'
                } %>
                <% if @user.social_links.present? %>
                  <% social_icons.each do |platform, icon| %>
                    <% if @user.social_links[platform].present? %>
                      <%= link_to @user.social_links[platform], target: "_blank" do %>
                        <i class="fa-brands <%= icon %> me-2"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex">
        <div class="submissions-shot-container w-100 bg-white ">
          <h3 class="mb-4">Total Submissions:</h3>
          <h4>Pending: <strong><%= @user.submissions.pending.size %></strong></h4>
          <h4>Confirmed: <strong><%= @user.submissions.confirmed.size %></strong></h4>
          <h4>Declined: <strong><%= @user.submissions.declined.size %></strong></h4>
          <h4 class="border-b">Canceled: <strong><%= @user.submissions.cancelled.size %></strong></h4>
          <div class="d-flex justify-content-between">
            <h3><strong>Total: <%= @user.submissions.size %></strong></h3>
            <%= link_to submissions_path(user_id: @user.id) do %>
              <i class="fa-solid fa-bars"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-stretch">
      <div class="col-md-9 my-4 d-flex">
        <div class="collab-show-container bg-white w-100">
          <h3 class="mb-4">My Collaborations:</h3>
          <% if @collaborations.present? %>
            <% @collaborations_last_3.each do |collaboration| %>
              <div class="d-flex align-items-center collaboration-wrapper">
                <div class="collaboration-line"></div>
                <div class="icon">
                  <% if collaboration.end_date.present? && collaboration.end_date.past? %>
                    <i class="fa-regular fa-circle"></i>
                  <% else %>
                    <i class="fa-solid fa-circle"></i>
                  <% end %>
                </div>
                <div class="collab-box-dashboard w-100">
                  <div class="d-flex align-items-center">
                    <div class="col-md-7">
                      <h4>Collaboration: <%= collaboration.title %></h4>
                      <p>Price: <strong>¥ <%= number_to_currency(collaboration.price, locale: 'jp') %></strong></p>
                      <p>Category: <strong><%= collaboration.category.join(', ') %></strong></p>
                      <p class="end-date">End Date:<strong> <%= collaboration.end_date %></strong></p>
                    </div>
                    <div class="text-center col-md-4">
                      <%= link_to submissions_path(user_id: @user.id) do %>
                        <div class="row colab-submissions d-flex align-items-center">
                          <span class="span-submissions">Submissions</span>
                          <h4><%= collaboration.submissions.size %></h4>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md">
                      <div class="d-flex flex-column justify-content-between text-end h-100">
                        <div class="status-container mb-4">
                          <% if collaboration.end_date.present? && collaboration.end_date.past? %>
                            <span class="status-label span-green text-center">In Progress</span>
                          <% else %>
                            <span class="status-label span-red text-center">Closed</span>
                          <% end %>
                        </div>
                        <div class="mt-auto">
                          <%= link_to collaboration_path(collaboration), class: "text-end" do %>
                            <i class="fa-solid fa-circle-chevron-right text-center status-icon"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-button text-center mt-4">
              <%= link_to 'See All', '#', class: "card-button"%>
            </div>
          <% else %>
            <p>No collaborations found.</p>
          <% end %>
        </div>
      </div>
      <div class="col-md my-4 d-flex">
        <div class="bg-dark-blue review-container-profile w-100">
          <!-- Conteúdo adicional aqui -->
          <h4>Last reviews: </h4>
          <div class="review-content mt-4">
            <% (1..5).each do |star| %>
            <i class="fa-solid fa-star"></i>
            <% end %>
            <p>It was really fun to collaborate with them! </p>
            <small>Lorence  <strong>Marketing campaign</strong></small>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start mt-4">
      <%= link_to 'Back', (request.referrer || collaborations_path), class: "btn-secondary-sm ms-2" %>
    </div>
  <% else %>
    <p>User is not logged in.</p>
    <p>Login <%= link_to 'here.', new_user_session_path %></p>
    <p>Or <%= link_to 'create', new_user_registration_path %> an account</p>
  <% end %>
