<!DOCTYPE html>
<html>
  <head>
    <title>Influintelligent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <%= render 'shared/sidebar' %>
    <div class="content">
      <%= render 'components/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
